<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:object="${form}" method="post">
        <input th:field="*{email}" placeholder="Email ?"> <br>
        <input th:field="*{fullName}" placeholder="Fullname ?"> <br>
        <input th:field="*{marks}" placeholder="Marks ?"> <br>
        <input th:field="*{gender}" value="true" type="radio">Male
        <input th:field="*{gender}" value="false" type="radio">Female
        <select th:field="*{country}">
            <option value="VN">Việt Nam</option>
            <option value="US">United Stases</option>
        </select>
        <hr>
        <button th:formaction="@{/student/create}">Create</button>
        <button th:formaction="@{|/student/update/${key}|}">Update</button>
        <button th:formaction="@{|/student/delete/${key}|}">Delete</button>
        <button th:formaction="@{/student/index}">Reset</button>
    </form>
</body>
</html>