<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Email</th>
            <th>Fullname</th>
            <th>Marks</th>
            <th>Gender</th>
            <th>Country</th>
            <th></th>
        </tr>
        <tr th:each="entry: ${items}" th:object="${entry.value}">
<!--            <td>[[${email}]]</td>-->
            <td th:text="*{email}">
            <td th:text="*{fullName}">
            <td th:text="*{marks}"></td>
            <td th:text="*{gender}"></td>
            <td th:text="*{country}"></td>
            <td>
                <a th:href="@{|/student/edit/${entry.key}|}">Edit</a>
                <a th:href="@{|/student/delete/${entry.key}|}">Del</a>
            </td>
        </tr>
    </table>
</body>
</html>